<footer>
  <div class="container">
    <a routerLink="/" class="logo-font">BrandLogo</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}
      learning project from <a href="http://hienluong.herokuapp.com">Hien Luong</a> based on Thinkster
    </span>
  </div>
</footer>
