<nav class="navbar navbar-light">
  <div class="container">
      <a routerLink="/" class="navbar-brand">BrandLogo</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
      </ul>
  </div>
</nav>
