<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">LOGOFONT</h1>
      <p>A place to show off your knowledge</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link">Your feed</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
